<div id="editEntityForm" style="display:none;">
  <table class="">
    <tr>
     <td class="name">Name:</td>
     <td>
      <input type="text" id="name" value="">
     </td>
    </tr>
    <tr>
      <td class="label"></td>
      <td>
       <input id="entityId" type="hidden" value="">
       <input id="addEntityBtn" type="button" value="Add" onclick="saveEntity()">&nbsp; 
      </td>
    </tr>
  </table>
</div>