<div id="editCategoryForm" style="display:none;">
  <table class="">
    <tr>
     <td class="name">Name:</td>
     <td>
      <input type="text" id="name" value="">
     </td>
    </tr>
    <tr>
      <td class="label"></td>
      <td>
       <input id="categoryId" type="hidden" value="">
       <input id="addCategoryBtn" type="button" value="Add" onclick="saveCategory()">&nbsp; 
       <input id="deleteCategoryBtn" type="button" value="Delete" onclick="deleteCategory()"><br><br>
       <span id="deleteConfirm">are you sure? <a id="deleteConfirmed" onclick="deleteCategoryConfirmed()">[ yes ]</a>&nbsp; &nbsp;<a id="deleteCancelled" onclick="deleteCategoryCancelled()">[ no ]</a></span>
      </td>
    </tr>
  </table>
</div>