<div id="footer">
{% if loggedIn %}<a href="/">Home</a> :: <a href="/user/logout">Logout</a> :: {% endif %}
My Financials Webapp - &copy; {{ year }} Todd Hudgens :: 
Execution took: {{ executionTime }} s.</div>
</div>
</body>
</html>