Group By:
<select id="groupBy" name="groupBy">
<option value="month"{% if grouping == "month" %} SELECTED{% endif %}>Month</option>
<option value="year"{% if grouping == "year" %} SELECTED{% endif %}>Year</option>
</select>